<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmers.ticketparis.mapper.PerformanceMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="performanceId">
        INSERT INTO performance (title, poster_url, start_date, end_date, duration,
                                 age_rating, price, description, category, seller_id, hall_id)
        VALUES (#{title}, #{posterUrl}, #{startDate},
                #{endDate}, #{duration},
                #{ageRating}, #{price}, #{description},
                #{category},
                #{sellerId}, #{hallId})
    </insert>

    <update id="update">
        UPDATE performance
        SET title       = #{updateRequest.title},
            poster_url  = #{updateRequest.posterUrl},
            start_date  = #{updateRequest.startDate},
            end_date    = #{updateRequest.endDate},
            duration    = #{updateRequest.duration},
            age_rating  = #{updateRequest.ageRating},
            price       = #{updateRequest.price},
            description = #{updateRequest.description},
            category    = #{updateRequest.category}
        WHERE performance_id = #{id}

    </update>

    <select id="findById" resultMap="resultPerformance">
        SELECT *
        FROM performance
        WHERE performance_id = #{id}
    </select>

    <select id="findAll" resultMap="resultPerformance">
        SELECT *
        FROM performance
    </select>

    <resultMap id="resultPerformance" type="Performance">
        <result column="category" property="category"/>
    </resultMap>

    <delete id="deleteById">
        DELETE
        FROM performance
        WHERE performance_id = #{id}
    </delete>
</mapper>
