<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programmers.ticketparis.member.repository.mapper.CustomerMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="customerId">
        INSERT INTO customer (username, password, name, email, birth_date, phone, address)
        VALUES (#{username}, #{password}, #{name}, #{email}, #{birthDate}, #{phone}, #{address})
    </insert>

    <select id="findById" resultType="Customer">
        SELECT customer_id, username, name, email, birth_date, phone, address, created_datetime, updated_datetime
        FROM customer
        WHERE customer_id = #{customerId}
    </select>

    <select id="findByUsername" resultType="Customer">
        SELECT customer_id, username, password, name, email, birth_date, phone, address, created_datetime, updated_datetime
        FROM customer
        WHERE username = #{username}
    </select>

    <select id="existsById" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM customer WHERE customer_id = #{customerId})
    </select>

    <select id="existsByUsernameOrEmail" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM customer WHERE username = #{username} OR email = #{email})
    </select>

</mapper>
