<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmers.ticketparis.mapper.member.CustomerMapper">

    <insert id="createAccount" useGeneratedKeys="true" keyProperty="customerId">
        insert into customer (username, password, name, email, birth_date, phone, address)
        values (#{username}, #{password}, #{name}, #{email}, #{birthDate}, #{phone}, #{address})
    </insert>

    <select id="findById" resultType="Customer">
        select customer_id, username, name, email, birth_date, phone, address
        from customer
        where customer_id = #{customerId}
    </select>

    <select id="existById" resultType="boolean">
        select exists(select 1 from customer where customer_id = #{customerId})
    </select>

</mapper>