<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programmers.ticketparis.ranking.repository.mapper.RankingMapper">

    <select id="findTopRankingPerformances" resultType="RankingResponse">
        SELECT
            performance_id,
            title,
            poster_url,
            start_date,
            end_date,
            hall_name,
            reservation_rate,
            RANK() OVER (ORDER BY reservation_rate DESC) ranking,
            created_datetime,
            updated_datetime
        FROM (
            SELECT
                p.performance_id,
                p.title,
                p.poster_url,
                p.start_date,
                p.end_date,
                h.name hall_name,
                ROUND((c.total_reservations_count / (h.seats_count * c.schedules_count)) * 100, 1) reservation_rate,
                p.created_datetime,
                p.updated_datetime

            FROM performance p

            JOIN hall h
            ON p.hall_id = h.hall_id

            JOIN (
                SELECT
                    s.performance_id,
                    COUNT(s.schedule_id) schedules_count,
                    SUM(r.reservations_count) total_reservations_count

                FROM schedule s

                JOIN (
                    SELECT
                        schedule_id,
                        COUNT(reservation_id) reservations_count
                    FROM reservation
                    WHERE status = 'COMPLETED'
                    GROUP BY schedule_id
                ) r
                ON s.schedule_id = r.schedule_id

                GROUP BY s.performance_id
            ) c
            ON p.performance_id = c.performance_id
        ) result
        ORDER BY ranking, title
        LIMIT 50;
    </select>

</mapper>
