<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmers.ticketparis.repository.reservation.ReservationMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="reservationId">
        INSERT INTO reservation (status, customer_id, schedule_id)
        VALUES (#{reservationStatus}, #{customerId}, #{scheduleId})
    </insert>

    <update id="updateReservationStatusById">
        UPDATE reservation
        SET status=#{reservationStatus}
        WHERE reservation_id = #{reservationId}
    </update>

    <select id="existsById" resultType="Boolean">
        SELECT EXISTS(select 1 from reservation where reservation_id = #{reservationId})
    </select>

    <select id="findById" resultMap="resultReservation">
        SELECT reservation_id, status, created_datetime, updated_datetime, customer_id, schedule_id
        FROM reservation
        WHERE reservation_id = #{reservationId};
    </select>

    <select id="findReservationsByPage" resultMap="resultReservation">
        SELECT reservation_id, status, created_datetime, updated_datetime, customer_id, schedule_id
        FROM reservation
        LIMIT #{offset}, #{size};
    </select>

    <resultMap id="resultReservation" type="Reservation">
        <result column="status" property="reservationStatus"/>
    </resultMap>
</mapper>
