<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmers.ticketparis.repository.reservation.ReservationMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="reservationId">
        insert into reservation (status, customer_id, schedule_id)
        values (#{reservationStatus}, #{customerId}, #{scheduleId})
    </insert>

    <update id="updateReservationStatusById">
        update reservation
        set status=#{reservationStatus}
        where reservation_id = #{reservationId}
    </update>

    <select id="existsById" resultType="Boolean">
        select exists(select 1 from reservation where reservation_id = #{reservationId})
    </select>

    <select id="findById" resultMap="resultReservation">
        select reservation_id, status, created_datetime, updated_datetime from reservation where reservation_id =
        #{reservationId};
    </select>

    <select id="findAll" resultMap="resultReservation">
        select reservation_id, status, created_datetime, updated_datetime from reservation;
    </select>

    <resultMap id="resultReservation" type="Reservation">
        <result column="status" property="reservationStatus"/>
    </resultMap>

    <delete id="deleteAll">
        delete from reservation;
    </delete>
</mapper>
