<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programmers.ticketparis.repository.schedule.ScheduleMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="scheduleId">
        INSERT INTO schedule (start_datetime, sequence, seats_count, performance_id)
        VALUES (#{startDatetime}, #{sequence}, #{seatsCount}, #{performanceId});
    </insert>

    <select id="findHallSeatsCountByPerformanceId" resultType="Integer">
        SELECT B.seats_count
        FROM performance as A
                 JOIN hall as B
                      ON A.hall_id = B.hall_id
        WHERE A.performance_id = #{performanceId};
    </select>

    <delete id="deleteById">
        DELETE
        FROM schedule
        WHERE performance_id = #{performanceId}
          AND schedule_id = #{scheduleId};
    </delete>

</mapper>