<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programmers.ticketparis.repository.schedule.ScheduleMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="scheduleId">
        INSERT INTO schedule (start_datetime, sequence, seats_count, performance_id)
        VALUES (#{startDatetime}, #{sequence}, #{seatsCount}, #{performanceId});
    </insert>

    <select id="findHallSeatsCountByPerformanceId" resultType="Integer">
        SELECT h.seats_count
        FROM performance as p
                 JOIN hall as h
                      ON p.hall_id = h.hall_id
        WHERE p.performance_id = #{performanceId};
    </select>

    <select id="findById" resultType="Schedule">
        SELECT schedule_id, start_datetime, sequence, seats_count, performance_id, created_datetime, updated_datetime
        FROM schedule
        WHERE schedule_id = #{scheduleId};
    </select>

    <select id="existsById" resultType="Boolean">
        SELECT EXISTS(SELECT schedule_id
                      FROM schedule
                      WHERE schedule_id = #{scheduleId});
    </select>

    <delete id="deleteById">
        DELETE
        FROM schedule
        WHERE schedule_id = #{scheduleId};
    </delete>

    <update id="updateSeatsCountById">
        UPDATE schedule
        SET seats_count = #{seatsCount}
        WHERE schedule_id = #{scheduleId}
    </update>

    <select id="findSchedulesByPage" resultType="Schedule">
        SELECT schedule_id, start_datetime, sequence, seats_count, performance_id
        FROM schedule LIMIT #{offset}, #{size};
    </select>

    <select id="findReservationsByScheduleIdWithPage" resultMap="resultReservation">
        SELECT r.reservation_id, r.status, r.created_datetime, r.updated_datetime, r.customer_id, r.schedule_id
        FROM schedule AS s
                 JOIN reservation AS r
                      ON s.schedule_id = r.schedule_id
        WHERE s.schedule_id = ${scheduleId} LIMIT #{pageable.offset}
            , #{pageable.size};
    </select>

    <resultMap id="resultReservation" type="Reservation">
        <result column="status" property="reservationStatus"/>
    </resultMap>

</mapper>
