<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmers.ticketparis.mapper.member.SellerMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="sellerId">
        INSERT INTO seller (username, password, name, email, phone, registration_number, store_name)
        VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{registrationNumber}, #{storeName})
    </insert>
    
    <select id="findById" resultType="Seller">
        SELECT seller_id, username, name, email, phone, registration_number, store_name, created_datetime, updated_datetime
        FROM seller
        WHERE seller_id = #{sellerId}
    </select>

    <select id="existsById" resultType="Boolean">
        SELECT EXISTS(select 1 from seller where seller_id = #{sellerId})
    </select>

    <select id="existsByUsernameOrEmail" resultType="Boolean">
        SELECT EXISTS(select 1 from seller where username = #{username} OR email = #{email})
    </select>

</mapper>