<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programmers.ticketparis.member.repository.mapper.SellerMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="sellerId">
        INSERT INTO seller (username, password, name, email, phone, registration_number, store_name)
        VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{registrationNumber}, #{storeName})
    </insert>

    <select id="findById" resultType="Seller">
        SELECT seller_id,
               username,
               name,
               email,
               phone,
               registration_number,
               store_name,
               created_datetime,
               updated_datetime
        FROM seller
        WHERE seller_id = #{sellerId}
    </select>

    <select id="existsById" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM seller WHERE seller_id = #{sellerId})
    </select>

    <select id="existsByUniqueFields" resultType="Boolean">
        SELECT EXISTS(SELECT 1
                      FROM seller
                      WHERE username = #{username}
                         OR email = #{email}
                         OR registration_number = #{registrationNumber})
    </select>

</mapper>
